<div class="container col-md-6">
  <form class="border border-light p-5" [formGroup]="inicioSesionForm" (ngSubmit)="onSubmit()">

    <p class="h4 mb-4 text-center">Iniciar sesión</p>

    <!-- Email -->
    <div class="md-form">
      <i class="fa fa-envelope prefix"></i>
      <input mdbInputDirective type="text" id="email" class="form-control" formControlName="email"
             data-success=" " [errorMessage]="erroresForm.email">
      <label for="email" class="">Correo electrónico</label>
    </div>

    <!-- Password -->
    <div class="md-form">
      <i class="fa fa-lock prefix"></i>
      <input mdbInputDirective type="password" id="contrasena" class="form-control" formControlName="contrasena"
             data-success=" " [errorMessage]="erroresForm.contrasena">
      <label for="contrasena" class="">Contraseña</label>
    </div>

    <div class="d-flex justify-content-between ">
      <div>
        <!-- Remember me -->
        <mdb-checkbox [default]="true">Recuérdame</mdb-checkbox>
      </div>
      <div>
        <!-- Forgot password -->
        <a href="">¿Has olvidado tu contraseña?</a>
      </div>
    </div>

    <!-- Sign in button -->
    <button mdbBtn color="elegant" outline="true" mdbWavesEffect block="true" class="my-4" type="submit"
            [disabled]="!inicioSesionForm.valid">Iniciar sesión
    </button>

    <button mdbBtn color="elegant" outline="true" mdbWavesEffect block="true" class="my-4" type="button"
            (click)="onGoogleButton()">
      <i class="fa fa-google"></i>
      Iniciar sesión con Google
    </button>

    <!-- Register -->
    <p class="text-center">¿No eres miembro todavía?
      <a href="" routerLink="/iniciar-sesion">Regístrate</a>
    </p>

    <div class="alert alert-danger" role="alert" *ngIf="iniciarSesionError">
      Error al iniciar sesión la cuenta
    </div>
  </form>
</div>